#open-source {
  .side-by-side {
    .clearfix();

    .projects, .contributions {
      box-sizing: border-box;
      width: 50%;
      padding: 0 20px;
    }

    .projects {
      float: left;
      border-right: 1px solid #eee;
    }
    .contributions {
      float: right;
    }
  }

  h2:before {
    content: @fa-var-github;
  }

  .col-md-6:first-child {
    border-right: 1px solid #eee;
  }

  ul {
    .list-unstyled();
    padding-left: 10px;

    li {
      border-bottom: 1px dotted #ccc;
    }

    li:last-child {
      border-bottom: none;
    }


    h4 {
      margin: 15px 0px 5px;
    }
  }
}