#skills {
  ul.skill-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;

    li {
      border-radius: .25em;
      background-color: #eee;
      border: 1px solid #E5E5E5;
      color: #555;
      padding: 5px 6px;
      font-size: 75%;
      font-weight: bold;
      font-size: 75%;
      line-height: 1;
      margin: 0 4px 4px 0;
    }
  }

  a {
    text-decoration: underline;
  }

  h2:before {
    content: @fa-var-wrench;
  }

  h3 {
    margin-top: 20px;

    .clearfix();

    .skill-title {
      float: left;
    }

    .skill-level {
      margin-left: 10px;
      float: left;

      .label();

      &.expert {
        .label-primary();
      }

      &.proficient {
        .label-info();
      }
    }
  }

  .skill-tag {
    .label();
    .label-default();

    background-color: #eee;
    border: 1px solid #E5E5E5;
    color: #555;
  }

  p {
    padding-left: 10px;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    margin: 0 5px;

    &:before {
      .fa();
      .fa-fw();
    }

    &.steam:before {
      content: @fa-var-steam;
    }

    &.github:before {
      content: @fa-var-github;
    }
  }
}

