@import "../scss/shared";

header {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .title {
    padding: 0;
    width: 100%;

    h1 {
      margin: 0;
    }

    h2 {
      border: none;
      margin: 0;
      font-size: 20px;
      padding-left: 3px;
    }

    span.small {
      padding-left: 3px;
      font-style: italic;
    }
  }

  ul.contact-info {
    width: 250px;
    margin: 0;
    font-size: 15px;

    @include list-unstyled;

    li {
      line-height: 28px;
    }

    a:before, span:before {
      color: #555;

      @extend .fa;

      @extend .fa-fw;
      margin-right: 5px;
    }

    a.github:before {
      content: $fa-var-github;
    }

    a.linkedin:before {
      content: $fa-var-linkedin;
    }

    a.email:before, #om-click:before {
      content: $fa-var-envelope;
    }

    .phone:before {
      content: $fa-var-phone;
    }


    #om-click {
      cursor: pointer;
      color: $link-color;
    }

    #om-click:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $responsive-max-width) {
    flex-wrap: wrap;

    .title {
      text-align: center;
      margin-bottom: 15px;
    }

    ul.contact-info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      li {
        width: 50%;
        text-align: center;
      }

    }
  }
}