@import "../scss/shared";

$aspect-ratio: 1.41px;
$page-width: 1150px;
$page-height: round($page-width * 1.41px) * 2;

#page {
  width: $page-width;
  padding: 4em;
  margin: 25px auto;
  background: #fff;
  box-sizing: border-box;

  overflow: hidden;

  @media screen and (max-width: $responsive-max-width) {
    width: auto;
    margin: 0;
    border: 0;
  }

  @media print {
    margin: 0;
    border: 0;
    padding: 0;
    max-height: inherit;
    overflow: auto;
  }
}
