@import "../scss/shared";

#work h2:before {
  content: $fa-var-building-o;
}

#education h2:before {
  content: $fa-var-graduation-cap;
}

section#eduction {
  break-inside: avoid;
}

#education, #work {

  span.feedback-callout {
    font-weight: normal; 
    font-size: 14px;
    margin-left: 10px;
  }

  h5 {
    font-weight: bold;
    margin-bottom: 3px;
  }

  > ul {
    @include list-unstyled;

    > li {
      margin: 15px 0;
      margin-top: 0;
      padding-bottom: 20px;

      @media screen and (max-width: $responsive-max-width) {
        margin: 10px 0;
      }

      section.job-entry {
        break-inside: avoid;
        margin-top: 0;
        padding-top: 0;
      }

      ul {
        list-style: circle;
        list-style:square;
        margin-left: 40px;

        li {
          margin-bottom: 4px;

          > b {
            &:after {
              font-weight: normal;
              content: ' - ';
            }
          }
        }
      }
    }

    > li:last-child {
      border-bottom: none;

      padding-bottom: 0;
    }
  }

  h3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;



    hr {
      display: none;
      visibility: hidden;
    }


    @media screen and (max-width: $responsive-max-width) {
      flex-wrap: wrap;
      margin-top: 0;
    }


    .institution, .workplace, .date {
      white-space: nowrap;


      @media screen and (max-width: $responsive-max-width) {
        margin-top: 5px;
        width: 100%;
        padding: 0;
      }
    }
    .date {
      @media screen and (max-width: $responsive-max-width) {
          font-size: 12px;
          margin-bottom: 5px;
      }
    }

    .institution, .workplace {
      padding-right: 10px;
    }

    .hr {
      display: none;
      width: 100%;
      margin: 0;
      height: 1px;
      background: #f4f6f6;
      border: 0;

      @media screen and (max-width: $responsive-max-width) {
        display: none;
        visibility: hidden;
      }
    }

    .date {
      padding-left: 10px;

      @media screen and (max-width: $responsive-max-width) {
        padding: 0;
      }
    }
  }

  h4 {
    span {
      color: #777;
    }
  }
}