@import "./shared";
@import "./reset";

@media print {
  .print-break { 
    page-break-before: always;
   } 
}

body {
  color: #182825;
  background: $primary-header-colour;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;


  @media print {
    padding: 0 !important;
  }
}

section {
  padding-top: 10px;
}

h2 {
  color: $primary-header-colour;
  font-size: 22px;
  font-weight: 500;
//text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
 // border-bottom: 1px dotted #dfdfdf;
}

h3 {
  color: $secondary-header-colour;
  font-size: 18px;
}

h4 {
  color: $secondary-header-colour;
  font-size: 16px;
  margin-bottom: 15px;
}

h2:before {
  @extend .fa;
  @extend .fa-fw;
}

@media print {
  body {
    background: #fff;
  }
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1.1;
}


h1 {
  font-size: 36px;
  color: $headline-colour:;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  line-height: 40px;
}

a, a:active, a:visited {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}


.small {
  font-size: 85%;
}

i {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}